.bundle
db/*.sqlite3*
log/*.log
*.log
/tmp/
doc/
*.swp
*~
.project
.DS_Store

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
#ignore netbeans stuff

/netbeans/
*.nb
*.netbeans
/nbproject/*
/nbproject/private/*

#ignore crap
.settings
/.settings/*
.settings/*

