.bundle
db/*.sqlite3*
log/*.log
*.log
/tmp/
doc/
*.swp
*~
.project
.DS_Store

#ignore netbeans stuff

/netbeans/
*.nb
*.netbeans
/nbproject/*
/nbproject/private/*

#ignore crap
.settings
/.settings/*


