/* 
    Document   : custom
    Created on : Oct 23, 2011, 11:37:02 AM
    Author     : chris
    Description:
        Purpose of the stylesheet follows.

pounds are ids, dots are classes
*/

/* cjp stuff i've added here */


#wrapper {
	width: 900px;
	margin: 0 auto;
	background: #000000;

}

/* Header */

#header-wrapper {
}

header {
	width: 820px;
	height: 44px;
	margin: 0 auto;
	background-image: url(/stylesheets/reckoning/images/img03.jpg) ;
        background-repeat: repeat-x;
        background-position: left top;
}

/* Menu */

#menu {
	float: left;
	height: 44px;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	height: 44px;
	display: block;
	float: left;
	padding: 12px 25px 0px 25px;
	background-image: url(/stylesheets/reckoning/images/img04.jpg);
        background-repeat: no-repeat;
        
}
#menu a {
	display: block;
	float: left;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#menu a:hover { text-decoration: underline; }

#menu .current_page_item {
	margin: 0px;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	height: 44px;
}

#search form {
	float: right;
	margin: 0;
	padding: 10px 20px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	padding: 0;
	height: 20px;
	font: 12px Arial, Helvetica, sans-serif;
	border: none;
}

#search-text {
	width: 135px;
	height: 14px;
	margin: 0px 6px 0px 0px;
	padding: 3px 0 0 5px;
	color: #658453;
}

#search-submit {
	padding: 0px;
	margin: 0px;
	height: 21px;
	margin-left: 4px;
	color: #39561D;
}

/* Page */

#page {
	width: 820px;
	margin: 0 auto;
	padding: 0px;
}

/** LOGO */

#logo {
	width: 900px;
	height: 132px;
	margin: 0 auto;
	background: url(/stylesheets/reckoning/images/img05.jpg) no-repeat left top;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0px;
	line-height: normal;
}

#logo h1 {
	padding-left: 50px;
	padding-top: 46px;
        color: #FFFFFF;
}

#logo h1 a {
	text-decoration: none;
	text-transform: lowercase;
	color: #FFFFFF;
}

#logo h1 a:hover { text-decoration: underline; }

#logo p {
	padding: 0px 0 0 42px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
}

#logo p a {
	text-decoration: none;
	color: #FFFFFF;
}

#logo p a:hover { text-decoration: underline; }

/* Content */

#content {
	float: right;
	width: 520px;
}

hr { display: none; }

/* Navigation rails tutorial */

nav {
  float: right;
}

nav {
  
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  
}

nav ul li a:visited {
  /*color: #09c; */
}

nav ul li a:hover {
  text-decoration: underline;
}
/* Footer from reckoning */

footer {
	text-align: center;
        width: 900px;
	margin: 0 auto;
	padding: 0;
	background: url(/stylesheets/reckoning/images/img02.jpg) repeat-x left top;
	height: 61px;
}

footer p {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	line-height: normal;
	color: #FFFFFF;
}
/* a footer link with no colors */
footer nav {
    float: none;
}
footer nav a {
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

footer nav a:hover { 
    text-decoration: underline;
    color: #FFFFFF;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 100px;
  color: #fff;
  background: #006400;
  font-size: 120%;
  font-weight: bold;
  padding: 20px;
}
/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Form Magic */
div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

/* form errors */
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


